{% extends 'core.html' %}
{% block content %}
    <div class="container px-1 mb-12 me-10" style="width: 50%;padding-top: 10%">
    <h4>SENDER PROFILE</h4>
        <br>
     <form style="alignment: right">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" />
    <label class="form-label" for="form4Example1">Set Sender (Optional)</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
    <label class="form-label" for="form4Example3">Save Number (Optional)</label>
  </div>


  <!-- Submit button -->
  <center><button style="width: 50%" type="submit" class="btn btn-light btn-block mb-4">SAVE</button></center>
</form>
    </div>
    <br>
    <br>
{% endblock %}