{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-2">
                        <!-- Container wrapper -->
                        <div class="container-fluid">
                            <div class="d-flex">
                                <!-- Toggle button --> <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button> <!-- Navbar brand --> <a class="navbar-brand ms-3"> <i class="fas fa-bomb text-primary" aria-controls="#picker-editor"></i> </a>
                            </div>
                            <!-- Collapsible wrapper -->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <!-- Left links -->
                                <ul class="navbar-nav me-auto mb-2 ms-2 ps-1 ms-lg-0 ps-lg-0 mb-lg-0">
                                    <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}" aria-controls="#picker-editor">Home</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="" aria-controls="#picker-editor">Dashboard</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="" aria-controls="#picker-editor">Settings</a> </li>
                                    <li class="nav-item"> <a class="nav-link" href="" aria-controls="#picker-editor">Reports</a> </li>
                                    {% if request.path == '/' %}
                                        <li class="nav-item"> <a class="nav-link" href="" aria-controls="#picker-editor" style="color: #1abe5c">{{ balance }}$</a> </li>
                                    {% else %}
                                    {% endif %}
                                </ul>
                                <!-- Left links -->
                            </div>
                            <!-- Collapsible wrapper --> <!-- Right elements -->
                           <div class="d-flex align-items-center"> {% if request.path == '/register/' %}
                               <a type="button" href="{% url 'login' %}" class="btn  btn-outline-primary px-3 mb-1 me-2" aria-controls="#picker-editor">Login</a>
                               {% elif request.path == '/login/' %}
                               <a type="button" href="{% url 'register' %}" class="btn  btn-outline-primary mb-1 me-lg-3" aria-controls="#picker-editor">Sign up</a> </div>
                               {% else %}
                               <a type="button" href="{% url 'logout' %}" class="btn  btn-outline-primary px-3 mb-1 me-2" aria-controls="#picker-editor">Logout</a>
                            {% endif %}<!-- Right elements -->
                        </div>
                        <!-- Container wrapper -->
                    </nav>
                    <!-- Navbar -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="{%  static 'css/mdb.min.css' %}" />
</head>

<body>
{% block content %}
{% endblock %}
  <script type="text/javascript" src="{% static 'js/mdb.min.js'  %} "></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>