{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
   <link rel="icon" type="image/x-icon" href="https://i.ibb.co/VDzGn5V/295938547-123561940395738-2673544208791713515-n-removebg-preview.png">
    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-5">
                        <!-- Container wrapper -->
                        <div class="container-fluid">
                            <div class="d-flex">
                                <img class=" me-lg-5" src="https://i.ibb.co/VDzGn5V/295938547-123561940395738-2673544208791713515-n-removebg-preview.png" width="50px">
                            </div>
                            <!-- Collapsible wrapper -->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <!-- Left links -->
                               <ul class="navbar-nav me-auto mb-2 ms-2 ps-1 ms-lg-0 ps-lg-0 mb-lg-0">
                                    <li class="nav-item"> <a class="btn  btn-block-primary px-3 mb-1 me-2" href="{% url 'home' %}" aria-controls="#picker-editor">Home</a> </li>
                                    <li class="nav-item"> <a class="btn  btn-block primary px-3 mb-1 me-2" href="" aria-controls="#picker-editor">Dashboard</a> </li>
                                    <li class="nav-item"> <a class="btn  btn-block-primary px-3 mb-1 me-2" href="{% url 'config' %}" aria-controls="#picker-editor">Settings</a> </li>
                                    <li class="nav-item"> <a class="btn  btn-block-primary px-3 mb-1 me-2" href="" aria-controls="#picker-editor">Reports</a> </li>
                                    {% if request.path == '/' %}
                                        <li class="nav-item"> <a class="nav-link" href="" aria-controls="#picker-editor" style="color: #1abe5c">{{ balance }}$</a> </li>
                                    {% else %}
                                    {% endif %}
                                </ul>
                                <!-- Left links -->
                            </div>
                            <!-- Collapsible wrapper --> <!-- Right elements -->
                           <div class="d-flex align-items-center"> {% if request.path == '/register/' %}
                               <a type="button" href="{% url 'login' %}" class="btn  btn-block-dark px-3 mb-1 me-2" aria-controls="#picker-editor">Login</a>
                               {% elif request.path == '/login/' %}
                               <a type="button" href="{% url 'register' %}" class="btn  btn-block-dark mb-1 me-lg-3" aria-controls="#picker-editor">Sign up</a> </div>
                               {% else %}
                               <a type="button" href="{% url 'logout' %}" class="btn  btn-block-dark px-3 mb-1 me-2" aria-controls="#picker-editor">Logout</a>
                            {% endif %}<!-- Right elements -->
                        </div>
                        <!-- Container wrapper -->
                    </nav>
                    <!-- Navbar -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="{%  static 'css/mdb.min.css' %}" />
</head>

<body>
{% block content %}
{% endblock %}
<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">About Bulkbo</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Facebook</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Youtube</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://bulkbo.com">Bulkbo.com</a>
  </div>
  <!-- Copyright -->
</footer>
  <script type="text/javascript" src="{% static 'js/mdb.min.js'  %} "></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>