{% extends 'core.html' %}
{% block content %}
    <form method="POST">
        <center>
            <div style="width: 30%;padding-top: 10rem">
            <select class="form-select" name="getnumber" aria-label="Default select example">
            <option selected>Select Sender ID</option>
            {% for i in numberlist %}
                <option value="{{ i.pk }}">{{ i.number_list }}</option>
            {% endfor %}
        </select><br>
        <select class="form-select" name="getsendername" aria-label="Default select example">
            <option selected>Select List Number</option>
            {% for i in list_sender_name %}
                <option value="{{ i.pk }}">{{ i.sendername }}</option>
            {% endfor %}
        </select>
            <br>
        <select class="form-select" name="text" aria-label="Default select example">
            <option selected>Select List Text</option>
            {% for i in listtext %}
                <option value="{{ i.pk }}">{{ i.Text }}</option>
            {% endfor %}
        </select>
        </div>
        <br>
        <button style="width: 20%" class="btn btn-light btn-block mb-4" data-mdb-toggle="modal" data-mdb-target="#exampleModal" type="submit">submit</button>
        <div class="card" style="width: 50%;">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
        </center>
    </form>

{% endblock %}