{% extends 'core.html' %}
{% block content %}
<div id="preview" class="preview">
    <div style="display: none;"></div>
    <div>
        <div data-draggable="true" class="" style="position: relative;">
            <!----><!---->

            <!---->
        </div>
        <div data-draggable="true" class="" style="position: relative;" draggable="false">
            <!----><!---->
            <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                <section class="mb-10 background-radial-gradient overflow-hidden">
                    <style> .background-radial-gradient { background-color: hsl(218, 41%, 15%); background-image: radial-gradient( 650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100% ), radial-gradient( 1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100% ); } #radius-shape-1 { height: 220px; width: 220px; top: -60px; left: -130px; background: radial-gradient(#44006b, #ad1fff); overflow: hidden; } #radius-shape-2 { border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%; bottom: -60px; right: -110px; width: 300px; height: 300px; background: radial-gradient(#44006b, #ad1fff); overflow: hidden; } .bg-glass { background-color: hsla(0, 0%, 100%, 0.9) !important; backdrop-filter: saturate(200%) blur(25px); } </style>
                    <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                        <div class="row gx-lg-5 align-items-center mb-5">
                            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                                <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> <span>BULKBO&nbsp;<br></span>  </h1>
                                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">BulkBo is a message sending service that provides the quickest and easiest way to send infinite SMS at the same time to any country in the world at a low cost.</p>
                            </div>
                            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                                <div class="card bg-glass">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row">
                                                <div class="form-outline mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" name="username" id="form3Example1" class="form-control active"> <label class="form-label" for="form3Example1" style="margin-left: 0px;">Username</label>
                                                        <div class="form-notch">
                                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                                            <div class="form-notch-middle" style="width: 68.8px;"></div>
                                                            <div class="form-notch-trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <input type="email" name="email" id="form3Example3" class="form-control active" autocompleted=""> <label class="form-label" for="form3Example3" style="margin-left: 0px;">Email address</label>
                                                <div class="form-notch">
                                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                    <div class="form-notch-trailing"></div>
                                                </div>
                                            </div>
                                            <!-- Password input -->
                                            <div class="form-outline mb-4">
                                                <input type="password" name="password1" id="form3Example4" class="form-control active" autocompleted=""> <label class="form-label" for="form3Example4" style="margin-left: 0px;">Password</label>
                                                <div class="form-notch">
                                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                                    <div class="form-notch-middle" style="width: 64.8px;"></div>
                                                    <div class="form-notch-trailing"></div>
                                                </div>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <input type="password" name="password2" id="form3Example4" class="form-control active" autocompleted=""> <label class="form-label" for="form3Example4" style="margin-left: 0px;">Confirm Password</label>
                                                <div class="form-notch">
                                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                                    <div class="form-notch-middle" style="width: 64.8px;"></div>
                                                    <div class="form-notch-trailing"></div>
                                                </div>
                                            </div>
                                            <!-- Checkbox -->

                                            <!-- Submit button --> <center><button type="submit" style="width: 50%" class="btn btn-outline-black btn-block mb-sm-6" aria-controls="#picker-editor">Sign Up</button></center>  <!-- Register buttons -->
                                            <div class="text-center">
                                                <p>or sign up with:</p>
                                                <button type="button" class="btn btn-link btn-floating mx-1"> <i class="fab fa-facebook-f" aria-controls="#picker-editor"></i> </button> <button type="button" class="btn btn-link btn-floating mx-1"> <i class="fab fa-google" aria-controls="#picker-editor"></i> </button> <button type="button" class="btn btn-link btn-floating mx-1"> <i class="fab fa-twitter" aria-controls="#picker-editor"></i> </button> <button type="button" class="btn btn-link btn-floating mx-1"> <i class="fab fa-github" aria-controls="#picker-editor"></i> </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
        <div data-draggable="true" class="" style="position: relative;" draggable="false">
            <!----><!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                    <h2 class="fw-bold text-center mb-5">PRICING</h2>
                    <div class="row gx-lg-5">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <div class="card-header text-center pt-4">
                                    <p class="text-uppercase"> <strong>TRAIL</strong> </p>
                                    <h3 class="mb-4"> <strong>Free</strong> <small class="text-muted" style="font-size: 16px">/5 SMS</small> </h3>
                                    <button type="button" class="btn btn-link w-100 mb-3" style="background-color: hsl(0, 0%, 95%)" data-ripple-color="primary">Buy</button>
                                </div>
                                <div class="card-body">
                                    <ol class="list-unstyled mb-0">
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Free testing 5 SMS</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Sender Custom</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>npm installation</span> </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <div class="card-header text-center pt-4">
                                    <p class="text-uppercase"> <strong>ADVANCED</strong> </p>
                                    <h3 class="mb-4"> <strong>$ 25</strong> <small class="text-muted" style="font-size: 16px">/month</small> </h3>
                                    <button type="button" class="btn btn-link w-100 mb-3" style="background-color: hsl(0, 0%, 95%)">Buy</button>
                                </div>
                                <div class="card-body">
                                    <ol class="list-unstyled mb-0">
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Unlimited SMS</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Sender Custom</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Support all country</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Support all langauges format</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>0.075 $ per SMS</span> </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <div class="card-header text-center pt-4">
                                    <p class="text-uppercase"> <strong>LIFETIME</strong> </p>
                                    <h3 class="mb-4"> <strong>$ 80</strong> <small class="text-muted" style="font-size: 16px"></small> </h3>
                                    <button type="button" class="btn btn-link w-100 mb-3" style="background-color: hsl(0, 0%, 95%)" data-ripple-color="primary">Buy</button>
                                </div>
                                <div class="card-body">
                                    <ol class="list-unstyled mb-0">
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Unlimited SMS</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Sender Custom</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Support all country</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Support all langauges format</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>0.075 $ per SMS</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span>Premium support</span> </li>
                                        <li class="mb-3"> <i class="fas fa-check text-success me-3"></i><span></span> </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
        <div data-draggable="true" class="" style="position: relative;">
            <!----><!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                    <div class="d-flex justify-content-center">
                        <div class="text-center" style="max-width: 700px">
                            <p class="text-uppercase text-primary fw-bold mb-4">Features</p>
                            <h2 class="fw-bold mb-4">Why BulkBo is the best?</h2>
                            <p class="text-muted mb-5">Bulkbo came up with the top-notch service SMS that allows you to send multiple SMS from one click to any country you want with the best functions and features that other services didn't have.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">SUPPORT 24/7</p>
                                    <p class="text-muted mb-0">Our customer support every day and every time is willing to support your problem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">SENDER CUSTOM</p>
                                    <p class="text-muted mb-0">Our service allows the client to set a custom sender ID with a specific name that client on demand</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">GLOBAL SMS</p>
                                    <p class="text-muted mb-0">Our service support any country for sending SMS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">CHEAP PRICE</p>
                                    <p class="text-muted mb-0">For per SMS cost only 0.075$ Up&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">SUPPORT LANGUAGES</p>
                                    <p class="text-muted mb-0">You can send all type of&nbsp;languages not only English</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">EASY TO USE</p>
                                    <p class="text-muted mb-0">We have the best Interface for easy to use and very simplicity&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">NO STICT RULE</p>
                                    <p class="text-muted mb-0">Client can send what ever SMS they want no policy and strict rule&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="fw-bold mb-1">UPDATE ON TIME</p>
                                    <p class="text-muted mb-0">Our service keep tracking and update whenever anything get bug or error</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
        <div data-draggable="true" class="" style="position: relative;">
            <!----><!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <h2 class="fw-bold mb-5"><span>TEAM</span> <u class="text-primary"></u></h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                            <img class="rounded-5 shadow-1-strong mb-4" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" alt="avatar" style="width: 150px" aria-controls="#picker-editor">
                            <h5 class="mb-3">Phan sivang</h5>
                            <p>BackEnd Developer</p>
                            <ul class="list-unstyled mb-0"> <a href="#!" class="px-1"> <i class="fab fa-github" aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-facebook-f " aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-linkedin-in" aria-controls="#picker-editor"></i> </a> </ul>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                            <img class="rounded-5 shadow-1-strong mb-4" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" alt="avatar" style="width: 150px" aria-controls="#picker-editor">
                            <h5 class="mb-3">Veronica Smith</h5>
                            <p>Backend Developer</p>
                            <ul class="list-unstyled mb-0"> <a href="#!" class="px-1"> <i class="fab fa-github" aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-facebook-f " aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-linkedin-in" aria-controls="#picker-editor"></i> </a> </ul>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                            <img class="rounded-5 shadow-1-strong mb-4" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" alt="avatar" style="width: 150px" aria-controls="#picker-editor">
                            <h5 class="mb-3">Tom Johnson</h5>
                            <p>Digital Marketing Analyst</p>
                            <ul class="list-unstyled mb-0"> <a href="#!" class="px-1"> <i class="fab fa-github-square " aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-facebook-f " aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-linkedin-in" aria-controls="#picker-editor"></i> </a> </ul>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                            <img class="rounded-5 shadow-1-strong mb-4" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" alt="avatar" style="width: 150px" aria-controls="#picker-editor">
                            <h5 class="mb-3">Emma Lovelace</h5>
                            <p>Web Designer</p>
                            <ul class="list-unstyled mb-0"> <a href="#!" class="px-1"> <i class="fab fa-github " aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-facebook-f " aria-controls="#picker-editor"></i> </a> <a href="#!" class="px-1"> <i class="fab fa-linkedin " aria-controls="#picker-editor"></i> </a> </ul>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>{% endblock %}